$medium: 768px;
$large: 1080px;

$primary-color: #2E94FF;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 15%);
$primary-color-x-dark: darken($primary-color, 30%);
$primary-color-xx-dark: darken($primary-color, 45%);

$accent-color: #B7FEE7;
$accent-color-dark: darken(#B7FEE7, 15%);

$alternate-color: #AFFF7F;
$alternate-color-light: lighten(#AFFF7F, 10%);
$alternate-color-x-light: lighten(#AFFF7F, 20%);

.row {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.max-height {
  height: 100%;
}

.no-wrap {
  white-space: nowrap;
}

$directions:
  "top",
  "bottom",
  "right",
  "left";

$margins:
  "xx-small" 3px,
  "x-small" 6px,
  "small" 9px,
  "med-small" 12px,
  "medium" 15px,
  "med-large" 18px;

@each $direction in $directions {
  @each $name, $size in $margins {
    .margin-#{$direction}-#{$name} {
      margin-#{$direction}: #{$size};
    }
  }
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    width: round(100% * $i/12);
    float: left;
  }
  .offset-sm-#{$i} {
    margin-left: round(100% * $i/12);
  }
}

@media only screen and (min-width: $medium) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: round(100% * $i/12);
      float: left;
    }
    .offset-md-#{$i} {
      margin-left: round(100% * $i/12);
    }
  }
}

@media only screen and (min-width: $large) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: round(100% * $i/12);
      float: left;
    }
    .offset-lg-#{$i} {
      margin-left: round(100% * $i/12);
    }
  }
}

@mixin primary-input() {
  border: solid 1px $primary-color-dark;
  padding: 3px 6px;
  border-radius: 10px;
  &:focus {
    outline-color: $primary-color;
    outline-style: groove;
  }
}

@mixin container() {
  padding: 20px;
  margin-top: 10px;
  border: solid 1px $primary-color-dark;
  background-color: white;
  @media only screen and (min-width: $large) {
    border-radius: 5px;
  }

}

@mixin container-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

@mixin container-heading-menu-item {
  font-size: 0.95rem;
}

@mixin container-heading-title {
  color: $primary-color-xx-dark;
  font-weight: bold;
}

@mixin icon-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin icon-button {
  font-size: 18px;
  visibility: hidden;
  color: #666666;
  padding-right: 5px;

  &:hover {
    color: $primary-color;
  }

  &:hover:active {
    color: $primary-color-dark;
  }
}

@mixin item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    background-color: $accent-color;
  }
}

@keyframes push {
  from {
    background-color: rgba(0,0,0,0);
    color: $primary-color;
  }
  33% {
    background-color: $primary-color;
    color: white;
  }
  to {
    background-color: rgba(0,0,0,0);
    color: $primary-color;
  }
}

@mixin primary-button {
  color: $primary-color;
  border: solid 1px rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);;
  &:hover {
    border-radius: 10px;
    border: solid 1px $primary-color;
    background-color: rgba(0,0,0,0);;
  }
  &:hover:active {
    border-radius: 10px;
    border: solid 1px $primary-color;
    animation-duration: 750ms;
    animation-name: push;
  }
  &:hover:disabled {
    color: gray;
    border: solid 1px rgba(0,0,0,0);
  }
  &:hover:disabled:active {
    animation: none;
  }
  &:disabled {
    color: gray;
  }
}

.button-bar {
  margin-left: 10px;
  button {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
